@font-face {
    font-family: robotoBlack;
    src: url(../assets/Roboto/Roboto-Black.ttf);
  }
  @font-face {
    font-family: nunitoblack;
    src: url(../assets/Nunito/static/Nunito-Medium.ttf);
  }
  @font-face {
    font-family: abel;
    src: url(../assets/Abel/Abel-Regular.ttf);
  }
  @font-face {
    font-family: dmBold;
    src: url(../assets/DM_Sans/DMSans-Bold.ttf);
  }
  @font-face {
    font-family: dm;
    src: url(../assets/DM_Sans/DMSans-Regular.ttf);
  }
  * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
  }
  .flexColumn {
    display: flex;
    flex-direction: column;
  }
  .spaceBetween {
    justify-content: space-between;
  }
  .flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flexWrap {
    flex-wrap: wrap;
  }
  .header {
    width: 100vw;
    height: 100vh;
    padding: 0px 100px 100px 100px;
    background-color: #000000; /*03001C*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .topContacts {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
  }
  .contactImg {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    margin: 5px;
  }
  .calendlyContact {
    background-image: url("../assets/calendly.png");
  }
  .calendlyContact:hover {
    background-image: url("../assets/calendlyHover.png");
  }
  .linkedinContact {
    background-image: url("../assets/linkedin.png");
  }
  .linkedinContact:hover {
    background-image: url("../assets/linkedinHover.png");
  }
  .logoTitleMain {
    width: 350px;
  }
  .column800 {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .numCol {
    /* background: white; */
    /* border-radius: 20px; */
    padding: 40px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  .num {
   font-family: dm;
   font-size: 50px; 
   line-height: 50px;
   text-align: center;
   /* color: #721cff; */
   color: white;
  }
  .numText {
    text-align: left;
    font-size: 30px;
    font-family: dm;
    color: #FFFFFF;
  }
  .bigNumText {
    font-size: 50px;
    line-height: 50px;
    margin-top: 20px
  }
  .pageMargins {
    width: 1000px;
    /* margin: auto; */
  }
  @media only screen and (max-width: 1060px) {
    
  }
  @media only screen and (max-width: 810px) {
    .numText {
        margin-bottom: 50px;
    }
    .header {
      padding: 0 50px 50px 50px;
    }
    .column800 {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
    }
    .numCol {
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    .numText {
      margin: 0;
      font-size: 16px;
    }
    .num {
      font-size: 25px;
      margin-right: 10px;
      line-height: 25px;
    }
    .bigNumText {
      font-size: 25px;
      line-height: 25px;
    }
  }
  @media only screen and (max-width: 510px) {
    .logoTitleMain {
      width: 200px;
    }
  }
  @media only screen and (max-width: 400px) {
    .bigNumText {
      font-size: 16px;
      line-height: 16px;
    }
  }
  @media only screen and (max-width: 320px) {
    .header {
      padding: 0 20px 20px 20px;
    }
    .column800 {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
    }
  }
  @media only screen and (max-width: 280px) {
    .num {
      width: 100%;
  }
  }