:root {
  --moonBlue: #721CFF;
  --moonGrey: #f8f8f8; 
  --moonBlueLight: #a771fe;
  --moonBlack: #03001C;
  /* --moonGrey: linear-gradient(36deg, rgba(233,220,255,1) 0%, rgba(219,197,255,1) 24%, rgba(233,220,255,1) 45%, rgba(219,197,255,1) 61%, rgba(233,220,255,1) 73%, rgba(219,197,255,1) 100%); */
}
::selection {
  background: var(--moonBlue); /* WebKit/Blink Browsers */
  color: white;
}

/* Main action btn */
.btn-custom:hover {
  background-color: var(--moonBlue) !important;
  border-color: var(--moonBlue) !important;
  color: #FFFFFF!important;
}


/* Nav bar links */
.nav-link {
	position: relative !important;
}

.nav-link:hover {
	color: var(--moonBlue) !important;
}

.nav-link::after {
	opacity: 0 !important;
	transition: all 0.2s !important;
}

.nav-link:hover::after {
	content: '' !important;
	opacity: 0.7 !important;
	height: 2px !important;
	width: 100% !important;
	background-color: #914dff !important;
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
}


 /* IMG scroller */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: var(--moonGrey);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, #eaeaea05, 95%, var(--moonGrey));

}

.logos:after {
  right: 0;
  background: linear-gradient(to right, #eaeaea05, 95%, var(--moonGrey));
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.logos-slide {
  display: inline-block;
  animation: 40s slide infinite linear;
}

.logos-slide img {
  height: 70px;
  margin: 0 40px;
}

#stats {
  background: var(--moonBlack);
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.backLine {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 1px;
  /* background: var(--moonBlueLight); */
  border-left: thin solid #efefef;
}
.phoneMainButton {
  justify-content: center;
}
.blueButton {
  border: 5px solid var(--moonBlue);
	background-color: var(--moonBlue);
  color: #FFFFFF;
  border-radius: 50px;
  width: 335px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}
.blueButton:hover {
  background-color: var(--moonBlueLight);
  /* width: 370px; */
}
.blueButtonInner {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.2s;
}
/* .blueButton:hover .blueButtonInner {
  width: 230px;
} */
.arrows {
  max-width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrowIcon {
  width: 30px;
  height: 16px;
  transform: translateX(-30px);
  transition: all ease-in 0.2s;
}
.blueButton:hover .arrowIcon {
  transform: translateX(-10px);
  transition: all ease-in 0.3s;
}
.header {
  margin-top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainLogo {
  /* position: absolute; */
  z-index: 5;
  height: 45px;
  width: 170px;
}
#bottomLogo {
  height: 45px;
  width: 170px;
  margin-bottom: 20px;
}
.networkSticky {
  height: fit-content;
}
.stickyBox {
  padding-left: 3rem;
  margin-left: 1rem;
  /* padding-top: 3rem;
  margin-top: 1rem; */
  height: 100px;
  top: 16px;
  position: sticky;
}
.greyBox {
  /* top: 100px; */
  height: 500px;
  position: sticky;
  border-radius: 30px;
  border: thin solid lightgray;
  background: var(--moonGrey);
}
.sOne {
  top: 100px;
}
.sTwo {
  top: 150px;
}
.sThree {
  top: 200px;
}
.sFour {
  top: 250px;
}
.blueBox {
  height: 500px;
  position: sticky;
  border-radius: 30px;
  border: thin solid var(--moonBlack);
  background: var(--moonBlack);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabTitle {
  transform: translateY(-100%);
}
.greyBoxTitle {
  font-size: 40px;
  color: black;
  font-weight: thin;
  margin-bottom: 10px;
}
.greyBoxText {
  font-size: 20px;
}
.bolder {
  font-weight: bold;
  color: var(--moonBlue)
}
.outerRow {
  display: flex;
  flex-direction: row;
}
.innerColTitle {
  width: 30%;
}
.stickySteps {
  position: sticky;
  top: 50px;
  margin-bottom: 45px;
}
.stickyStepsSmall {
  display: none;
}
.innerCol {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.stepBoxes {
  margin-top: 30px;
}
.stepBox {
  height: 100px;
  border-radius: 20px;
  border: thin solid lightgray;
  background: var(--moonGrey);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  margin-bottom: 10px;
  position: sticky;
  top: 50px;
}
.stepBoxTitle {
  font-size: 50px;
  margin: 10px;
  margin-right: 30px;
  color: var(--moonBlue);
}
.faqBox {
  border-radius: 20px;
  border: thin solid lightgray;
  background: var(--moonGrey);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 20px;
}
.question {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  font-size: 20px;
}
.question:hover {
  background: #f1f0f0;
}
.answer {
  position: relative;
  background: white;
  z-index: 1;
  transform: translateY(-100%);
  transition: all ease-in-out 0.2s;
  height: 72px;
}
.plus {
  margin: 0 10px;
  transition: all ease-in-out 0.2s;
  height: 25px;
  width: 25px;
}
.customNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.fixedNav {
  position: fixed;
  z-index: 5;
  width: 200px;
  transform: translateX(-100%);
}
.footer {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 850px) {
  .greyBoxTitle {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .tabTitle {
    transform: translateY(0);
  }
  .greyBoxTitle {
    font-size: 30px;
  }
  .outerRow {
    flex-direction: column;
  }
  .innerColTitle {
    width: 100%;
  }
  .innerCol {
    width: 100%;
  }
  .greyBox {
    margin-top: 5px;
  }
  .blueBox {
    margin-top: 5px;
  }
  .stickyBox {
    top: 0px;
    padding-left: 1rem;
    margin-left: 0rem;
    padding-top: 1rem;
    /* margin-top: 0rem; */
  }
  .sOne {
    top: 60px;
  }
  .sTwo {
    top: 110px;
  }
  .sThree {
    top: 160px;
  }
  .sFour {
    top: 210px;
  }
  .stickySteps {
    display: none;
  }
  .stickyStepsSmall {
    top: 10px;
    display: block;
    position: sticky;
    margin-bottom: 45px;
  }
  .stepBox {
    top: 90px;
  }
  .midLine {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .greyBoxTitle {
    font-size: 25px;
  }
  .greyBoxText {
    font-size: 16px;
  }
  .blueBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stickyStepsSmall {
    top: 30px;
  }
  .stepBox {
    top: 120px;
  }
  .fixedNav {
    width: 150px;
    height: 40px;
  }
  .blueButtonInner {
    font-size: 12px;
  }
  .blueButton:hover .arrowIcon {
    transform: translateX(-28px);
  }
  .bigBlue {
    width: 250px;
  }
  .question {
    height: 72px;
    font-size: 16px;
  }
  .answer {
    font-size: 13px;
  }
  .card-title {
    width: 50%;
  }
  .alignL {
    width: 50%;
  }
  .headerPhone {
    margin-top: 10vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .phoneTitle {
    text-align: left;
    align-items: flex-start;
  }

  .statRow {
    flex-direction: row;
  }
  /* .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .card-title {
    width: 30vw;
    /* text-align: right;
    margin-right: 10px; */
  }
  .alignL {
    width: 30vw;
    /* text-align: left;
    margin-left: 10px; */
  }
  .phoneMainButton {
    padding: 0;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    height: 120vh;
  }
  #mainLogo {
    height: 30px;
    width: 113px;
  }
  #bottomLogo {
    height: 30px;
    width: 113px;
  }
  .phoneTitle {
    font-size: 20px;
  }
  .networkSmall {
    font-size: 20px;
  }
  .greyBoxTitle {
    font-size: 20px;
  }
}